<div id="footer-container">
    <p>Made with <i class="far fa-heart"></i> by Chris Rodriguez</p>
    <img src="../../assets/img/paypal.png">
    <div id="socials">
        <p>Follow us</p>
        <a href="https://www.facebook.com/profile.php?id=100023818999425" class="facebook"><i class="fab fa-facebook-f"></i></a>
        <a href="https://twitter.com/chrisr627" class="twitter"><i class="fab fa-twitter"></i></a>
        <a href="https://www.instagram.com/chrisr.627/" class="instagram"><i class="fab fa-instagram"></i></a>
    </div>
</div>
